In [2]:
#Prepare a classification model using SVM for salary data 
# SVM Classification

In [1]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [3]:
SalaryData_Train = pd.read_csv('C:/Users/abc/Desktop/Assignments/Assignment 14 SVM/SalaryData_Train(1).csv')
SalaryData_Test = pd.read_csv('C:/Users/abc/Desktop/Assignments/Assignment 14 SVM/SalaryData_Test(1).csv')

In [4]:
SalaryData_Train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
#SalaryData_Train.columns

In [6]:
SalaryData_Train1 = SalaryData_Train.drop('educationno',axis=1)
SalaryData_Train1

,age,workclass,education,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [7]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [8]:
# Converting catagorical into label
convert_col=['workclass','education','maritalstatus','occupation','relationship','race','sex','native']

In [9]:
for i in convert_col:
    SalaryData_Train1[i]=labelencoder.fit_transform(SalaryData_Train1[i])
SalaryData_Train1

,age,workclass,education,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,5,9,4,0,1,4,1,2174,0,40,37,<=50K
1,50,4,9,2,3,0,4,1,0,0,13,37,<=50K
2,38,2,11,0,5,1,4,1,0,0,40,37,<=50K
3,53,2,1,2,5,0,2,1,0,0,40,37,<=50K
4,28,2,9,2,9,5,2,0,0,0,40,4,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,2,7,2,12,5,4,0,0,0,38,37,<=50K
30157,40,2,11,2,6,0,4,1,0,0,40,37,>50K
30158,58,2,11,6,0,4,4,0,0,0,40,37,<=50K
30159,22,2,11,4,0,3,4,1,0,0,20,37,<=50K
30160,52,3,11,2,3,5,4,0,15024,0,40,37,>50K

In [10]:
#Dividing dataset dataset
X = SalaryData_Train1.iloc[: ,0:12]
Y = SalaryData_Train1.iloc[: , 12]

For Hyperparameter using Grid Search CV best fit value for model

In [14]:
clf = SVC()
#param_grid = [{'kernel':['poly'],'gamma':[100,5,15,0.5],'C':[19,14,13,12,11,10,0.1,0.001] }]
#param_grid = [{'kernel':['rbf','poly'],'gamma':[100,5,15,0.5],'C':[12,11,10,0.1,0.001] }]
param_grid = [{'kernel':['rbf'],'gamma':[100,5,15,0.5],'C':[12,11,10,0.1,0.001] }]
gsv = GridSearchCV(clf,param_grid,cv=10)
gsv.fit(X,Y)

KeyboardInterrupt:

In [ ]:
gsv.best_params_ , gsv.best_score_

In [11]:
# Using best value findout from gridsearch building model
clf = SVC(C= 12, gamma = 100)
clf.fit(X,Y)

SVC(C=12, gamma=100)

In [11]:
SalaryData_Test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [14]:
SalaryData_Test1 = SalaryData_Test.drop('educationno',axis=1)
SalaryData_Test1

,age,workclass,education,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [15]:
# Converting catagorical into label
convert1_col=['workclass','education','maritalstatus','occupation','relationship','race','sex','native']

In [16]:
for i in convert1_col:
    SalaryData_Test1[i]=labelencoder.fit_transform(SalaryData_Test1[i])
SalaryData_Test1

,age,workclass,education,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,2,1,4,6,3,2,1,0,0,40,37,<=50K
1,38,2,11,2,4,0,4,1,0,0,50,37,<=50K
2,28,1,7,2,10,0,4,1,0,0,40,37,>50K
3,44,2,15,2,6,0,2,1,7688,0,40,37,>50K
4,34,2,0,4,7,1,4,1,0,0,30,37,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,2,9,4,9,3,4,1,0,0,40,37,<=50K
15056,39,2,9,0,9,1,4,0,0,0,36,37,<=50K
15057,38,2,9,2,9,0,4,1,0,0,50,37,<=50K
15058,44,2,9,0,0,3,1,1,5455,0,40,37,<=50K
15059,35,3,9,2,3,0,4,1,0,0,60,37,>50K

In [17]:
#Dividing dataset dataset
X_Test = SalaryData_Test1.iloc[: ,0:12]
Y_Test= SalaryData_Test1.iloc[: , 12]

In [18]:
# Calculating Accuracy
clf = SVC(C= 12, gamma = 100)
clf.fit(X , Y)
y_pred = clf.predict(X_Test)
acc = accuracy_score(Y_Test, y_pred) * 100
print("Accuracy =", acc)
confusion_matrix(Y_Test, y_pred)

Accuracy = 76.22177954847278

array([[11142,   218],
       [ 3363,   337]], dtype=int64)

In [19]:
# For F1 score
print(classification_report(Y_Test,y_pred))

              precision    recall  f1-score   support

       <=50K       0.77      0.98      0.86     11360
        >50K       0.61      0.09      0.16      3700

    accuracy                           0.76     15060
   macro avg       0.69      0.54      0.51     15060
weighted avg       0.73      0.76      0.69     15060